@page "/"
@using Stimulsoft.Base
@using Stimulsoft.Report
@using Stimulsoft.Report.Blazor
@inject HttpClient Http

<div align="center">
    <input type="text" @bind="newValueInput" />
    <button class="alert" @onclick="SetVariable">Set variable</button>
</div>

<br />

<div align="center">
    <StiBlazorViewer Report="@report" />
</div>

@code
{
    private StiReport report;
    private string newValueInput;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        //How to activate
        //Stimulsoft.Base.StiLicense.Key = "6vJhGtLLLz2GNviWmUTrhSqnO...";
        //var licenseStream = await Http.GetStreamAsync("Secret/license.key");
        //Stimulsoft.Base.StiLicense.LoadFromStream(licenseStream);

        //Create empty report object
        report = new StiReport();

        //Load report template
        var reportBytes = await Http.GetByteArrayAsync("Reports/ReportWithVariable.mrt");
        report.Load(reportBytes);
    }

    private void SetVariable()
    {
        //Set new value
        report["MySuperUselessVariable"] = newValueInput;

        //Update view
        report.Render();
    }
}